<!DOCTYPE html>
<html data-origin="<%= origin %>">
  <head>
    <title>sketch-eth-pay-for-content</title>
  </head>
  <body>
    <p>
      <button id="action-pay" disabled>Pay</button>
      <button id="action-reveal" disabled>Reveal</button>
    </p>
    <pre id="revealed-content" style="border: 1px solid; padding: 0.75em">*SECRET*</pre>
    <ul>
      <li>Contract address: <code id="contract-address">…</code></li>
      <li>Your address: <code id="account-address">…</code></li>
    </ul>
    <script src="/static/main.js"></script>
  </body>
</html>
